<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)

	#set ($navigationColor = $theme.getSetting("navigation-color"))
	#set ($navigationTextColor = $theme.getSetting("navigation-text-color"))
	#set ($footerColor = $theme.getSetting("footer-color"))
	#set ($footerTextColor = $theme.getSetting("footer-text-color"))

	#if (($navigationColor!="") || ($navigationTextColor!="") || ($footerColor!="") || ($footerTextColor!=""))
		<style>
		#if (($navigationColor!="") || ($navigationTextColor!=""))
			.aui #banner {
				background: $navigationColor;
				color: $navigationTextColor;
			}
			.aui #banner a {
				color: $navigationTextColor;
			}
		#end
		#if (($footerColor!="") || ($footerTextColor!=""))
			.aui #footer {
				background: $footerColor;
				color: $footerTextColor;
			}
			.aui #footer a {
				color: $footerTextColor;
			}
		#end
		</style>
	#end
</head>


#set ($dockbarVertical = $theme.getSetting("dockbar-vertical"))

#if ($dockbarVertical == true)
	#set ($css_class = "${css_class} dockbar-vertical")
#end

#set ($spaceBetweenHeader = $theme.getSetting("space-between-header"))

#if ($spaceBetweenHeader == "normal")
	#set ($css_class = "${css_class} space-between-header")
#elseif ($spaceBetweenHeader == "below")
	#set ($css_class = "${css_class} negative-space-between-header")
#end

<body class="$css_class">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

#if ($is_signed_in)
	#dockbar()
#end

<div id="wrapper">
	<header id="banner" role="banner">
		#set ($headerMaxWidth = $theme.getSetting("header-max-width"))

		#if ($headerMaxWidth)
			#set ($headerMaxWidthStyle = "style='max-width:$headerMaxWidth'")
		#else
			#set ($headerMaxWidthStyle = "")
		#end
		<div class="container" $headerMaxWidthStyle>
			#parse ("$full_templates_path/navigation.vm")
		</div>
	</header>

	#set ($mainContainerFluid = $theme.getSetting("main-container-fluid"))

	#if ($mainContainerFluid == true)
		<div class="container-fluid" id="content">
	#else
		<div class="container" id="content">
	#end

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	<footer id="footer" role="contentinfo">
		#set ($footerMaxWidth = $theme.getSetting("footer-max-width"))

		#if ($footerMaxWidth)
			#set ($footerMaxWidthStyle = "style='max-width:$footerMaxWidth'")
		#else
			#set ($footerMaxWidthStyle = "")
		#end
		<div class="container" $footerMaxWidthStyle>
			<div class="row pre-breadcrumbs">
				<nav id="breadcrumbs" class="span12">#breadcrumbs()</nav>
			</div>
			#set ($footerContent = $theme.getSetting("footer-web-content-article-id"))

			#if (($footerContent!=""))
				$theme.journalArticle($footerContent, $themeDisplay.getSiteGroupId(), "")
			#else
				<div class="row">
					<div class="span4">
						<ul class="unstyled">
							<li>Liferay.com</li>
							<li>dev.liferay.com</li>
							<li>AlloyUI.com</li>
							<li>AlloyEditor.com</li>
						</ul>
					</div>
					<div class="span4">
						<ul class="unstyled">
							<li>
								<a href="https://github.com/liferay">GitHub.com/liferay</a>
							</li>
							<li>
								<a href="https://github.com/marcoscv-work/experimental-liferay-themes">Experimental Themes</a>
							</li>
							<li>
								<a href="https://www.liferay.com/web/marcos.castro/blog">Meet the team</a>
							</li>
						</ul>
					</div>
					<div class="span4">
						<ul class="unstyled">
							<li>
								<img alt="$logo_description" height="20" src="$images_folder/logo.png" width="20" style="background: #CCC;" class="img-circle" />
								Manzanita-theme 2015
							</li>
							<li>Free use (Do not redistribute)</li>
						</ul>
					</div>
				</div>
			#end
		</div>
	</footer>
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>