@import "aui/alloy-font-awesome/scss/mixins-alloy";
@import "aui/alloy-font-awesome/scss/variables";
@import "compass";
@import "compass/css3/user-interface";
@import "mixins";

$mainNavbarHeight: 46px;

.aui {
	height: 100%;

	.dockbar-vertical .icon-toggle-dockbar {
		top: 55px;
	}

	body {
		height: 100%;

		&.space-between-header {
			#content {
				margin-top: 20px;
			}
		}

		&.negative-space-between-header {
			#content {
				position: relative;
				top: -$mainNavbarHeight;
			}
		}
	}

	a.btn {
		border-radius: 0;
		border-width: 0;
	}

	form {
		margin: 0;
	}

	#wrapper {
		font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
		height: 100%;
		margin: 0;
		padding: 0;
	}

	#banner {
		background: #555;
		background: rgba(0, 0, 0, 0.6);
		height: $mainNavbarHeight;
		z-index: 9;

		a {
			color: #FFF;
			display: inline-block;

			&:hover, &.active {
				text-decoration: none;

				@include opacity(0.5);
			}
		}

		#heading {
			display: inline-block;

			.default-logo {
				min-height: $mainNavbarHeight;

				img {
					max-height: 35px;
					max-width: 35px;
					padding-top: 3px;
				}
			}
		}

		#navigation {
			display: block;
			text-align: justify;

			ul {
				margin: 0;
				min-height: $mainNavbarHeight;
				vertical-align: top;
			}

			#heading {
				display: inline-block;
				width: 35px;
			}

			li {
				display: inline-block;
				list-style: none;

				a {
					display: block;
					font-size: 110%;
					font-weight: 300;
					line-height: 25px;
					padding: 10px;
				}

				&.selected a {
					opacity: 0.7;
				}
			}

			#sign-in {
				display: inline-block;
				font-size: 20px;
				margin-left: 20px;
				vertical-align: middle;
			}

			.right-icon-group {
				display: inline-block;
				text-align: right;
			}

			.portlet-search {
				display: inline-block;
				margin-right: -25px;

				form {
					margin: 0;
					padding: 0;

					input {
						margin-bottom: 3px;
						padding: 0;
						width: 1px;

						@include border-radius(5px);
						@include opacity(0);
					}

					select, input[type="image"] {
						display: none;
					}
				}
			}

			.ul-main-nav:after {
				content: " ";
				display: inline-block;
				height: 0;
				position: relative;
				width: 100%;
			}

			* {
				@include transition(all 0.5s ease-in-out);
				@include translate3d(0, 0, 0, 0);
			}
		}
	}

	.opened-search #banner #navigation {
		.portlet-search form input {
			padding: 4px;
			width: 150px;

			@include opacity(1);
		}

		.open-search {
			color: #555;
			width: 13px;

			.icon-search:before {
				content: "\f054";
			}
		}
	}

	#content {
		min-height: 100%;
		padding: 0;
	}

	#footer {
		background: #F2F2F2;

		.container {
			padding: 20px 0;
		}
	}

	/* ---------- Carousel ---------- */

	.component.carousel {
		line-height: inherit;
		margin-bottom: 0;
		overflow: hidden;

		.carousel-item {
			width: 100%;
		}

		menu {
			background: transparent;
			bottom: 0;
			height: 10%;
			left: 0;
			padding: 0;
			text-align: center;
			width: 100%;

			li {
				display: inline-block;
				float: none;

				.carousel-menu-item {
					bottom: 20px;
				}

				.carousel-menu-prev, .carousel-menu-next {
					background: url(@theme_image_path@/carousel/prev.png) transparent no-repeat center;
					bottom: 300%;
					height: 50px;
					left: 50px;
					opacity: 0;
					position: absolute;
					width: 50px;

					@include transition(all 0.2s ease-in-out);
					@include translate3d(0, 0, 0, 0);

					&:hover {
						@include opacity(0.4);
						@include transition(all 0.2s ease-in-out);
						@include translate3d(0, 0, 0, 0);
					}
				}

				.carousel-menu-next {
					background-image: url(@theme_image_path@/carousel/next.png);
					left: inherit;
					right: 50px;
				}

				.carousel-menu-index {
					background: #FFF;
					margin: 3px;
					padding: 1px;

					&.carousel-menu-active {
						background: transparent;
						border: 2px solid #FFF;
						margin: 1px;
					}
				}

				.carousel-menu-pause {
					background-size: cover;
					border: 2px solid #FFF;
					display: none;
					height: 12px;
					margin: 0 7px;
					width: 12px;
				}
			}
		}

		&:hover {
			menu .carousel-menu-prev, .carousel-menu-next {
				opacity: 1;
			}
		}
	}

	.columns-max {
		margin: 0 auto;
		max-width: 1170px;
	}

	/* ---------- dockbar vertical ---------- */

	.dockbar-vertical {
		.icon-toggle-dockbar {
			z-index: 9;
		}

		.portlet-dockbar .navbar {
			z-index: 10;
		}
	}
}

/* ---------- Responsive ---------- */

@media screen and (min-width: 1170px) {
	.aui {
		.opened-search #banner #navigation {
			.portlet-search form input {
				width: 150px;
			}
		}
	}
}

@include respond-to(tablet) {
	#banner #navigation li a {
		float: left;
		padding: 2%;
		text-align: center;
		width: 22%;
	}
}

@include respond-to(phone, tablet) {
	.aui {
		body {
			padding: 0;

			.portlet-dockbar {
				display: block;
			}
		}

		#banner {
			height: auto;

			.container {
				width: 100%;
			}

			#navigation {
				.menu-icon {
					cursor: pointer;
					height: 25px;
					left: 20px;
					position: absolute;
					top: 12px;
					width: 25px;

					.line1, .line2 {
						background: #FFF;
						display: block;
						height: 3px;
						position: relative;
						top: 7px;
						width: 17px;

						@include border-radius(3px);
					}

					.line2 {
						top: 12px;
					}
				}

				#heading {
					left: 50%;
					margin-left: -20px;
					position: relative;
					top: 13px;
					width: 40px;
				}

				.right-icon-group {
					position: absolute;
					right: 20px;
					top: 13px;
				}

				ul li {
					display: none;
				}
			}
		}

		.opened-search #banner #navigation .portlet-search form input {
			font-size: 110%;
			padding: 2px 4px;
		}

		.opened-menu-icon #banner #navigation {
			.menu-icon {
				.line1 {
					top: 12px;

					@include transform(rotate(-135deg));
				}

				.line2 {
					top: 9px;

					@include transform(rotate(135deg));
				}
			}

			ul li {
				display: block;
			}

			#heading {
				padding-bottom: 30px;
			}
		}

		#footer ul {
				padding: 20px;
		}
	}
}

@include respond-to(phone) {
	.aui .marginsOnMobile {
		padding: 0 20px;
	}
}