@import "aui/alloy-font-awesome/scss/mixins-alloy";
@import "aui/alloy-font-awesome/scss/variables";
@import "compass";
@import "compass/css3/user-interface";
@import "mixins";

$mainNavbarHeight: 46px;

.aui {
	height: 100%;

	.dockbar-vertical .icon-toggle-dockbar {
		top: 55px;
	}

	body {
		height: 100%;

		&.space-between-header {
			#content {
				margin-top: 20px;
			}
		}

		&.negative-space-between-header {
			#content {
				top: -$mainNavbarHeight;
				position: relative;
			}
		}
	}

	#wrapper {
		font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
		padding: 0;
		margin: 0;
		height: 100%;
	}

	#banner {
	 	background: #555;
	 	background: rgba(0, 0, 0, 0.6);
	 	height: $mainNavbarHeight;
	 	z-index: 9;

 		a {
 			color: #FFF;
 			display: inline-block;

			&:hover, &.active {
				text-decoration: none;

				@include opacity(0.5);
			}
 		}

	 	#heading {
	 		display: inline-block;

	 		.default-logo {
	 			min-height: $mainNavbarHeight;

	 			img {
	 				max-height: 35px;
	 				max-width: 35px;
	 				padding-top: 3px;
	 			}
	 		}
	 	}

	 	#navigation {
			text-align: justify;
			display: block;

	 		ul {
	 			vertical-align: top;
	 			margin: 0;
	 			min-height: $mainNavbarHeight;
	 		}

	 		#heading {
	 			display: inline-block;
	 			width: 35px;
	 		}

	 		li {
	 			list-style: none;
	 			display: inline-block;

				a {
					display: block;
					line-height: 25px;
					padding: 10px;
					font-size: 110%;
					font-weight: 300;
				}
	 		}

	 		#sign-in {
	 			font-size: 20px;
	 			margin-left: 20px;
	 			display: inline-block;
	 			vertical-align: middle;
	 		}

	 		.right-icon-group {
	 			text-align: right;
	 			display: inline-block;
	 		}

	 		.portlet-search {
	 			display: inline-block;
	 			margin-right: -25px;

	 			form {
	 				margin: 0;
	 				padding: 0;

	 				input {
	 					margin-bottom: 3px;
	 					width: 1px;
	 					padding: 0;

	 					@include opacity(0);
	 					@include border-radius(5px);
	 				}

	 				select, input[type="image"] {
		 				display: none;
		 			}
	 			}
	 		}

			.ul-main-nav:after {
				content: " ";
				display: inline-block;
				position: relative;
				width: 100%;
				height: 0;
			}

			* {
				@include transition(all 0.5s ease-in-out);
			}
	 	}
	}

	.opened-search #banner #navigation {
		.portlet-search form input {
			width: 150px;
			padding: 4px;

			@include opacity(1);
		}

		.open-search {
			color: #555;
			width: 13px;

			.icon-search:before {
				content: "\f054";
			}
		}
	}

	#content {
		min-height: 100%;
		padding: 0;
	}

	#footer {
	 	background: #F2F2F2;

	 	.container {
	 		padding: 20px 0;
	 	}
	}

	/* ---------- Carousel ---------- */

	.component.carousel {
		line-height: inherit;
		margin-bottom: 0;
		overflow: hidden;

		.carousel-item {
			width: 100%;
		}

		menu {
			background: transparent;
			bottom: 0;
			height: 10%;
			left: 0;
			padding: 0;
			text-align: center;
			width: 100%;

			li {
				display: inline-block;
				float: none;

				.carousel-menu-item {
					bottom: 20px;
				}

				.carousel-menu-prev, .carousel-menu-next {
					background: url(@theme_image_path@/carousel/prev.png) transparent no-repeat center;
					bottom: 300%;
					height: 50px;
					left: 50px;
					position: absolute;
					width: 50px;
					opacity: 0;

					@include transition(all 0.2s ease-in-out);

					&:hover {
						@include opacity(0.4);
						@include transition(all 0.2s ease-in-out);
					}
				}

				.carousel-menu-next {
					background-image: url(@theme_image_path@/carousel/next.png);
					left: inherit;
					right: 50px;
				}

				.carousel-menu-index {
					background: #FFF;
					margin: 3px;
					padding: 1px;

					&.carousel-menu-active {
						background: transparent;
						border: 2px solid #FFF;
						margin: 1px;
					}
				}

				.carousel-menu-pause {
					background-size: cover;
					border: 2px solid #FFF;
					display: none;
					height: 12px;
					margin: 0 7px;
					width: 12px;
				}
			}
		}

		&:hover {
			menu .carousel-menu-prev, .carousel-menu-next {
				opacity: 1;
			}
		}
	}

	.columns-max {
		max-width: 1170px;
		margin: 0 auto;
	}

	/* ---------- dockbar vertical ---------- */
	.dockbar-vertical {
		.icon-toggle-dockbar {
			z-index: 9;
		}

		.portlet-dockbar .navbar {
			z-index: 10;
		}
	}
}

/* ---------- Responsive ---------- */

@media screen and (min-width: 1170px) {
	.aui {
		.opened-search #banner #navigation {
			.portlet-search form input {
				width: 150px;
			}
		}
	}
}

@include respond-to(tablet) {
	#banner #navigation li a {
		padding: 2%;
		width: 22%;
		float: left;
		text-align: center;
	}
}

@include respond-to(phone, tablet) {
	.aui {
		body {
			padding: 0;

			.portlet-dockbar {
				display: block;
			}
		}

		#banner {
			height: auto;

			.container {
				width: 100%;
			}

			#navigation {
				.menu-icon {
					width: 25px;
					height: 25px;
					position: absolute;
					top: 12px;
					left: 20px;
					cursor: pointer;

					.line1, .line2 {
						background: #FFF;
						height: 3px;
						width: 17px;
						display: block;
						position: relative;
						top: 7px;

						@include border-radius(3px);
					}

					.line2 {
						top: 12px;
					}
				}

				#heading {
					width: 40px;
					left: 50%;
					position: relative;
					margin-left: -20px;
					top: 13px;
				}

				.right-icon-group {
					position: absolute;
					top: 13px;
					right: 20px;
				}

				ul li {
					display: none;
				}
			}
		}

		.opened-search #banner #navigation .portlet-search form input {
			padding: 2px 4px;
			font-size: 110%;
		}

		.opened-menu-icon #banner #navigation {
			.menu-icon {
				.line1 {
					top: 12px;

					@include transform(rotate(-135deg));
				}

				.line2 {
					top: 9px;

					@include transform(rotate(135deg));
				}
			}

			ul li {
				display: block;
			}

			#heading {
				padding-bottom: 30px;
			}
		}

		#footer ul {
		 		padding: 20px;
		}
	}
}