@import "aui/alloy-font-awesome/scss/mixins-alloy";
@import "aui/alloy-font-awesome/scss/variables";
@import "compass";
@import "compass/css3/user-interface";
@import "mixins";

.aui {
	#navigation {
		@include transition(all 0.3s ease-in-out);
		background: #4D394B;
		bottom: 0;
		position: fixed;
		right: -240px;
		top: 0;
		width: 180px;
		padding: 20px 30px;
		color: #FFF;
		overflow: auto;
		z-index: 401;

		ul {
			list-style: none;
			margin: 0;

			.child-menu {
				margin-left: 20px;
				font-size: 85%;
			}
		}

		a {
			color: #FFF;
			font-size: 110%;
			padding: 5px 2px;
			display: block;

			&:hover {
				text-decoration: inherit;
				color: #EEE;
			}
		}
	}

	.navigation-left {
		#navigation {
			left: -240px;
			right: inherit;
		}
	}

	.site-title {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	}

	.navigation-menu {
		position: relative;
		display: inline-block;
		height: 20px;
		width: 26px;
		margin: 20px 15px 15px;
		cursor: pointer;
		vertical-align: middle;

		.line1, .line2, .line3 {
			position: absolute;
			width: 100%;
			height: 4px;
			background: #999;
			top: 0;
		}

		.line2 {
			top: 8px;
		}

		.line3 {
			top: 16px;
		}
	}

	hr {
		opacity: 0.5;
	}

	#breadcrumbs ul {
		padding: 0;
		font-size: 60%;
		background-color: transparent;
		margin-bottom: 15px;

		a {
			display: inline;
			text-shadow: none;
		}
	}

	body.opened {
		@include transition(all 0.5s ease-in-out);
		@include respond-to(desktop) {
			border-right: 240px solid;
		}
		overflow: hidden;

		#navigation {
			right: 0;
		}

		.navigation-menu {
			.line1, .line2, .line3 {
				@include transition(all 0.1s ease-in-out);
				transform: rotate(45deg);
				top: 8px;
			}

			.line2 {
				transform: rotate(-45deg);
				top: 8px;
			}

			.line3 {
				transform: rotate(45deg);
				top: 8px;
			}
		}

		.back-nav {
			@include transition(all 0.5s ease-in-out);
			background: rgba(0, 0, 0, 0.2);
			bottom: 0;
			left: 0;
			position: fixed;
			right: 0;
			top: 0;
			z-index: 300;
		}

		&.navigation-left {
			@include respond-to(desktop) {
				border-left: 240px solid;
				border-right: 0;
			}

			#navigation {
				left: 0;
				right: inherit;
			}
		}
	}

	.dockbar-split {
		#wrapper {
			padding: 4em 5em 0;
		}
	}

	#_145_navSiteNavigationNavbarBtn {
		display: none;
	}

	@include respond-to(phone, tablet) {
		#navigation {
			display: block;
		}
	}
}